<app-menu></app-menu>
<div class="container mt-3">
<h1>Request</h1>
requestid: {{request.id}}
<select [(ngModel)]="request" class="rounded" (change)="refreshLines()" [compareWith]="compRequest">
  <option *ngFor="let r of requests" [ngValue]="r">
    {{ r.user.firstName + ' ' + r.user.lastName + ' - ' + r.description + ' - ' + r.status + ' - $' + r.total!.toFixed(2) }}
  </option>
</select>
<hr />
<div *ngIf="request" class="d-flex align-items-center mb-3">
  <h1>Line Items</h1>
  <a routerLink="/lineItem-create/{{request.id}}" title="Add New Item">
    <img width="20" height="20" src="images/add-icon.png" />
  </a>
  <button
  class="btn btn-primary ms-3"
  (click)="submit()">
  submit
</button>

</div>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Vendor name</th>
        <th>Product name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let li of lineItems">
          <td>{{ li.id }}</td>
          <td>{{ li.product.vendor.name}}</td>
          <td>{{ li.product.name}}</td>
          <td>{{ li.product.price}}</td>
          <td>{{ li.quantity }}</td>
          
        <td class="justify-content-evenly align-items-center d-flex">
          <a routerLink="/lineItem-detail/{{li.request.id}}" title="Add New Item">
              <img width="20" height="20" src="images/details.png" />
            </a>
        
            <a routerLink="/lineItem-edit/{{li.id}}" title="Edit lineItem">
              <img width="20" height="20" src="images/pencil-icon.png" />
            </a>
        
            <button (click)="delete(li.id)" class="btn btn-link p-0" title="Delete lineItem">
                <img width="20" height="20" src="images/delete.jpg" />
              </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>