<app-menu></app-menu>
<div class="container mt-4">
    <h2>{{ title }}</h2>
    <table *ngIf="lineItems" class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Vendor name</th>
            <th>Product name</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let li of lineItems">
              <td>{{ li.id }}</td>
              <td>{{ li.product.vendor.name}}</td>
              <td>{{ li.product.name}}</td>
              <td>{{ li.product.price}}</td>
              <td>{{ li.quantity }}</td>
          </tr>
        </tbody>
      </table>

    <div class="d-flex align-items-center mt-4">
      <textarea
        [(ngModel)]="reasonForRejection"
        class="form-control me-3"
        placeholder="Enter reason for rejection..."
        rows="3"
        style="width: 100%; max-width: 400px;"
      ></textarea>
  
      <button class="btn btn-danger" (click)="reject()">Reject</button>
    </div>
  </div>
  